<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1043075265104-65irrc3i3gnif14d69fd6el6avsso6km.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1043075265104-65irrc3i3gnif14d69fd6el6avsso6km</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1043075265104-33ve1i6eut7isjnl8geel3qqrmr44nae.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCWinpwWkKIRid2ARYOcRrpyv0gekdIL-A</string>
	<key>GCM_SENDER_ID</key>
	<string>1043075265104</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.orot.ody</string>
	<key>PROJECT_ID</key>
	<string>orotcode-ody</string>
	<key>STORAGE_BUCKET</key>
	<string>orotcode-ody.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1043075265104:ios:5f201c12607adeb17c9755</string>
</dict>
</plist>