<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>15204988302-f47hudjuqr6vj3cajbi1ekk912mv0i5c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.15204988302-f47hudjuqr6vj3cajbi1ekk912mv0i5c</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>15204988302-86r6aeij0c16bilfo5inv2h2fqgkgam1.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA4vHrTyTjzzLEdD5_FZjKqEVdGjGpvgCM</string>
	<key>GCM_SENDER_ID</key>
	<string>15204988302</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.orot.ody.dev</string>
	<key>PROJECT_ID</key>
	<string>ody-app-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>ody-app-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:15204988302:ios:8bb0198d44e614c9e120df</string>
</dict>
</plist>